#plan {
    display: flex;
    justify-content: center;
}

.square {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid black;
}

#container {
    display: flex;
    max-width: 352px ;
    flex-wrap: wrap;
}

.my_button {
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #3498db;
    color: #3498db;
    background-color: #fff;
    border-radius: 5px;
}

*{
    border: 1px solid red;
}